.container {
    .titulo{
        margin-top: 20px;
    }
    width: 90%;
    margin: auto;
    .formulario{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        mat-form-field {
            margin-right: 2%;
        }
    }
    table {
        width: 100%;
    }
}






.botonGuardar{
    padding-top: 15px;
}

.acciones{
    display: flex;
    justify-content: space-around;
    
}