.titulo {
  display: flex;
  margin-top: 2%;
  margin-left: 4.5%;
}

.titulo h3, .titulo h4 {
  margin-left: 2.5%;
  margin-bottom: 0px;
  padding-top: 13px;
}

.cont-nombre {
  position: relative;
}

.controls {
  width: 66%;
  height: calc(10vh - 8px);
  margin-left: 22%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: white;
  border-width: thin;
  text-decoration: none;
  outline: none;
  border-color: rgba(71, 115, 178, 255);
  color: rgba(71, 115, 178, 255);
}

.controls1 {
  width: 66%;
  height: calc(10vh - 8px);
  margin-left: 22%;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: white;
  border-width: thin;
  text-decoration: none;
  outline: none;
  border-color: rgba(71, 115, 178, 255);
  color: rgba(71, 115, 178, 255);
}

.form_control_archivo{
  width: 68%;
  position: relative;
  left: 102px;
  top: 20px;
  border-color: #4773b2;
  color: #4773b2;
}

.modal-title {
  color: rgb(24, 21, 15);
  margin-left: 30%;
}

.modal-header {
  background-color: white;
  border-color: white;
}

.modal-body {
  background-color: white;
  border-color: white;
}

.modal-footer {
  background-color: white;
  border-color: white;
}

.switch-button {
  background-color: coral;
}

.btn-outline-dark {
  width: auto;
  height: calc(10vh - 6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.lanzar {
  background-color: rgba(71, 115, 178, 255);
  border-radius: 0.5rem;
  outline: none;
  margin-top: 5%;
  height: 3em;
  margin-left: 60%;
  display: inline-block;
  position: sticky;
  border-color: rgba(71, 115, 178, 255);
  border-style: none;
  color: white;
  width: 12%;
  text-align: left;
  padding-left: 3%;
}

.lanzar:hover {
  background-color: rgba(105, 188, 187, 255)
}


.from_control, .from_control1 {
  background-color: gainsboro;
  align-items: center;
  display: inline-block;
  margin-left: 5%;
}
.from_control1 {
  border: solid 2px rgb(255, 255, 255);
}

.save {
  background-color: white;
  border-radius: 0.5rem;
  margin-right: 8%;
  width: 20%;
  height: 50px;
  border: solid;
  border-width: thin;
  text-decoration: none;
  outline: none;
  border-color: rgba(71, 115, 178, 255);
  color: rgba(71, 115, 178, 255);
  display: inline-block;
  text-align: left;
}

.save:hover {
  background-color: rgba(105, 188, 187, 255);
  color: white;
}

.save-exit {
  background-color: white;
  border-radius: 0.5rem;
  margin-right: 8%;
  width: 20%;
  height: 50px;
  border: solid;
  border-width: thin;
  text-decoration: none;
  outline: none;
  border-color: rgba(71, 115, 178, 255);
  color: rgba(71, 115, 178, 255);
  display: inline-block;
  text-align: left;
}

.save-exit:hover {
  background-color: rgba(105, 188, 187, 255);
  color: white;
}

.close {
  background-color: white;
  border-radius: 0.5rem;
  margin-right: 11%;
  width: 20%;
  height: 50px;
  border: solid;
  border-width: thin;
  text-decoration: none;
  outline: none;
  border-color: rgba(71, 115, 178, 255);
  color: rgba(71, 115, 178, 255);
  display: inline-block;
}

.close:hover {
  background-color: rgba(105, 188, 187, 255);
  color: white;
}

.option {
  background-color: white;
  border-color: rgba(71, 115, 178, 255);
  color: rgba(71, 115, 178, 255);
  width: 66%;
  height: calc(10vh - 6px);
  margin-left: 22%;
  display: flex;
  text-decoration: none;
  outline: none;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  align-content: center;
}

.toolbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.edit, .delete {
  background-color: rgba(71, 115, 178, 255);
  width: 30px;
  border-radius: 0.5rem;
  display: inline-block;
  border: solid;
  border-width: thin;
  border-color: rgba(71, 115, 178, 255);
  color: white;
  padding-top: 1.5%;
  text-align: center;
  box-shadow: 0px 2px 10px -2px black;
}


.edit:hover, .delete:hover {
  background-color: rgba(105, 188, 187, 255);
  color: white;
}

.check {
  display: inline-block;
  color: rgba(71, 115, 178, 255);
}

.table {
  border-radius: 1rem;
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;
  background-color: white;
  box-shadow: 0px 2px 10px -6px black;

}


tbody {
  border-radius: 1rem;
}

th {
  background-color: rgba(243, 244, 246, 255);
  border: none;
  border-top: white;
}

td {
  background-color: white;
  border-color: white;
}

#filter {
  margin-left: 5%;
  background-color: white;
  border: solid;
  border-width: thin;
  border-color: rgba(71, 115, 178, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  text-decoration: none;
  outline: none;
  width: 18%;
  height: 3em;
}


.icons {
  position: absolute;
  color: rgba(71, 115, 178, 255);
  font-size: 200%;
  margin-left: 10%;
  margin-top: 4%;
}


.icon-add {
  position: absolute;
  color: white;
  font-size: 200%;
  margin-left: 8%;
  margin-top: -2%;

}

.icon-button {
  margin-left: 20%;
  margin-top: 2%;
}

input.ng-invalid.ng-touched,
input.ng-invalid.un-touched {
  border: solid 2px tomato;
}

input.ng-valid {
  border: solid 2px rgb(80, 71, 255);
}

.status{
  background-color: #42b72a;
  color: #fff;
}
.status2 {
  background-color: #f02849;
  color: #fff;
}


