.container {
    justify-content: center;
    .titulo {
        display: flex;
        justify-content: left;
    }
    .formulario {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .imputformulario {
            margin-right: 1%;
        }
        .mat-datepicker-toggle {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .filtro{
        width: 30%;
        margin-left: 1%;
    }
    table {
        width: 100%;
    }
    .botonGuardar {
        padding-top: 15px;
    }
}
