.container {
  width: 90%;
  margin-top: 2%;
  display: flex;
  .title {
    justify-content: left;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  .seguro {
    margin-top: 20px;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    mat-form-field {
      margin-right: 10px;
      width: 20vw;
      mat-datepicker-toggle {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: -12px;
      }
    }
  }
}
.contr {

  display: flex;
  justify-content: center;
}

.btn1{
  background-color: rgb(15, 114, 228);
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none !important;
cursor: pointer;
}
.btn1:hover {
  opacity: 0.8;
}
// .edit {
//   background-color: rgba(71, 115, 178, 255);
//   border-radius: 0.5rem;
//   display: inline-block;
//   border: solid;
//   border-width: thin;
//   border-color: rgba(71, 115, 178, 255);
//   color: white;
//   padding-top: 1.5%;
//   text-align: center;
//   box-shadow: 0px 2px 10px -2px black;
// }

// .edit:hover {
//   background-color: rgba(105, 188, 187, 255);
//   color: white;
// }

#table {
  border-radius: 1rem;
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;
  background-color: white;
  box-shadow: 0px 2px 10px -6px black;

  tbody {
    border-radius: 1rem;

    th {
      background-color: rgba(243, 244, 246, 255);
      border: none;
      border-top: white;
    }

    td {
      background-color: white;
      border-color: white;
    }

  }

}
